医療とAI・ビッグデータ入門
演習11月16日

**コード01**

In [ ]:
a =
print()

**コード02**

In [ ]:
a = "" # ""(ダブルクォーテーション）の中に文字を入れてみましょう
print()
a = [] # []角括弧の中にリストを作りましょう
print()

**デモ**：データの型を確認しましょう

In [ ]:
a = 5
b = 5.0
c = 3+4*b
greeting = "Hello, World!"
numbers = [1,2,3,4,5]
colors = ("red","green","blue")
person = {"name":"John","age":30, "city":"New York"}
fruits = {"apple", "banana","cherry"}

In [ ]:
type()

**コード03**

In [ ]:
fruits = ["apple", "〇", "cherry","melon"]
numbers = [2,3,0,1000000000000000000,5] #数字を入れましょう
mixed = [] #リストの中身を入れましょう

print(fruits)
print(numbers)
print(mixed)

In [ ]:
type()

**コード04**

In [ ]:
fruits = ["apple", "banana", "cherry","melon"]
#インデックスを使用して要素にアクセスします
print(fruits[])
print(fruits[])

**コード05**

In [ ]:
fruits = ["apple", "banana", "cherry","melon"]
#スライスを使用して要素にアクセスします
print(fruits[1:3])
print(fruits[:2])
print(fruits[0:2])

**コード06**

In [ ]:
fruits = ["apple", "banana", "cherry", "melon"]
#リストの要素を変更します
fruits[1] = "〇〇"
print(fruits)

**コード07**

In [ ]:
fruits = ["apple", "banana", "cherry","melon"]
#リストの要素を追加、削除します
fruits.append("〇〇") #好きなフルーツを追加しましょう。
fruits.remove("〇〇") #フルーツを一つ削除しましょう。
print(fruits)

**コード08**

In [ ]:
numbers = [10,20,30,40,50,60]

#sum関数を使ってリストの合計を計算できます：
sum (リスト名を入力します)

#totalという新しい変数を作ってもよいです：
total = sum(リスト名)
print(total)

**コード09**

In [ ]:
numbers = [10,20,30,40,50,60]

#len関数を使ってリストの合計を計算できます：
len (リスト名を入力します)

#totalという新しい変数を作ってもよいです：
count = len(リスト名)
print(count)

**コード10**

In [ ]:
numbers = [10,20,30,40,50,60]

min_value = 関数名(numbers)  # リスト内の最小値を取得
max_value = 関数名(numbers)  # リスト内の最大値を取得

print(min_value)
print(max_value)

**コード11**

In [ ]:
numbers = [10,20,30,40,50,60]

average = 関数名(numbers)/関数名(numbers)
print(average)

10.0

**コード12**

In [ ]:
fruits = ["apple", "banana", "cherry","melon"]
numbers = [10,20,30,40,50,60]

newlist = リスト名1 + リスト名2
print(newlist)